In [7]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import plotly.express as px
from scipy import stats

In [8]:
df = pd.read_csv('MES_0425.csv', skiprows=8, encoding='cp1252')
df.head()

,Country,Time,Balance,Product,Value,Unit
0,Australia,April 2025,Net Electricity Production,Electricity,21041.0542,GWh
1,Australia,April 2025,Net Electricity Production,Hydro,982.4615,GWh
2,Australia,April 2025,Net Electricity Production,Total Combustible Fuels,13110.0606,GWh
3,Australia,April 2025,Net Electricity Production,"Coal, Peat and Manufactured Gases",9405.6027,GWh
4,Australia,April 2025,Net Electricity Production,Oil and Petroleum Products,317.1276,GWh

In [9]:
df.sample(20)

,Country,Time,Balance,Product,Value,Unit
43954,Iceland,January 2021,Total Imports,Electricity,0.0000,GWh
60251,Argentina,September 2019,Net Electricity Production,Other Renewables,0.0000,GWh
52292,OECD Asia Oceania,May 2020,Net Electricity Production,Not Specified,1761.3264,GWh
83398,Romania,September 2017,Net Electricity Production,Hydro,925.2148,GWh
135319,Hungary,December 2011,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",198.1770,GWh
11229,OECD Asia Oceania,March 2024,Net Electricity Production,Wind,4749.3675,GWh
9204,Iceland,May 2024,Net Electricity Production,Hydro,1129.2342,GWh
21816,OECD Americas,February 2023,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",135834.0848,GWh
63578,France,May 2019,Final Consumption (Calculated),Electricity,33718.0650,GWh
76474,Ireland,April 2018,Net Electricity Production,Geothermal,0.0000,GWh
14978,Korea,October 2023,Used for pumped storage,Electricity,491.2109,GWh
115074,Germany,May 2014,Net Electricity Production,Natural Gas,3230.2890,GWh
2207,United Kingdom,February 2025,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",13429.7920,GWh
97956,Slovak Republic,March 2016,Net Electricity Production,Not Specified,9.3330,GWh
16019,Switzerland,September 2023,Used for pumped storage,Electricity,465.0000,GWh
83383,Malta,September 2017,Net Electricity Production,Solar,12.9560,GWh
84921,OECD Total,July 2017,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",227805.8524,GWh
81144,Greece,November 2017,Total Imports,Electricity,546.2130,GWh
113788,Latvia,July 2014,Used for pumped storage,Electricity,0.0000,GWh
147981,Slovenia,June 2010,Net Electricity Production,Hydro,435.3050,GWh

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151656 entries, 0 to 151655
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Country  151656 non-null  object
 1   Time     151656 non-null  object
 2   Balance  151656 non-null  object
 3   Product  151656 non-null  object
 4   Value    151616 non-null  float64
 5   Unit     151656 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.9+ MB

In [4]:
df.isna().sum()

Country     0
Time        0
Balance     0
Product     0
Value      40
Unit        0
dtype: int64

In [5]:
df[df.isnull().any(axis=1)]

,Country,Time,Balance,Product,Value,Unit
80,Colombia,April 2025,Remarks,Data is estimated for this month,NaN,GWh
95,Costa Rica,April 2025,Remarks,Data is estimated for this month,NaN,GWh
244,Iceland,April 2025,Remarks,Data is estimated for this month,NaN,GWh
288,Japan,April 2025,Remarks,Data is estimated for this month,NaN,GWh
699,Argentina,April 2025,Remarks,Data is estimated for this month,NaN,GWh
896,Colombia,March 2025,Remarks,Data is estimated for this month,NaN,GWh
911,Costa Rica,March 2025,Remarks,Data is estimated for this month,NaN,GWh
1060,Iceland,March 2025,Remarks,Data is estimated for this month,NaN,GWh
1599,Montenegro,March 2025,Remarks,Data is estimated for this month,NaN,GWh
1600,North Macedonia,March 2025,Remarks,Data is estimated for this month,NaN,GWh
1727,Costa Rica,February 2025,Remarks,Data is estimated for this month,NaN,GWh
1876,Iceland,February 2025,Remarks,Data is estimated for this month,NaN,GWh
2540,Costa Rica,January 2025,Remarks,Data is estimated for this month,NaN,GWh
2689,Iceland,January 2025,Remarks,Data is estimated for this month,NaN,GWh
3352,Costa Rica,December 2024,Remarks,Data is estimated for this month,NaN,GWh
3500,Iceland,December 2024,Remarks,Data is estimated for this month,NaN,GWh
4166,Costa Rica,November 2024,Remarks,Data is estimated for this month,NaN,GWh
4314,Iceland,November 2024,Remarks,Data is estimated for this month,NaN,GWh
4981,Costa Rica,October 2024,Remarks,Data is estimated for this month,NaN,GWh
5795,Costa Rica,September 2024,Remarks,Data is estimated for this month,NaN,GWh
6611,Costa Rica,August 2024,Remarks,Data is estimated for this month,NaN,GWh
7426,Costa Rica,July 2024,Remarks,Data is estimated for this month,NaN,GWh
8241,Costa Rica,June 2024,Remarks,Data is estimated for this month,NaN,GWh
9054,Costa Rica,May 2024,Remarks,Data is estimated for this month,NaN,GWh
9867,Costa Rica,April 2024,Remarks,Data is estimated for this month,NaN,GWh
10684,Costa Rica,March 2024,Remarks,Data is estimated for this month,NaN,GWh
11498,Costa Rica,February 2024,Remarks,Data is estimated for this month,NaN,GWh
12310,Costa Rica,January 2024,Remarks,Data is estimated for this month,NaN,GWh
13124,Costa Rica,December 2023,Remarks,Data is estimated for this month,NaN,GWh
13937,Costa Rica,November 2023,Remarks,Data is estimated for this month,NaN,GWh
14754,Costa Rica,October 2023,Remarks,Data is estimated for this month,NaN,GWh
15571,Costa Rica,September 2023,Remarks,Data is estimated for this month,NaN,GWh
16387,Costa Rica,August 2023,Remarks,Data is estimated for this month,NaN,GWh
17204,Costa Rica,July 2023,Remarks,Data is estimated for this month,NaN,GWh
18022,Costa Rica,June 2023,Remarks,Data is estimated for this month,NaN,GWh
18839,Costa Rica,May 2023,Remarks,Data is estimated for this month,NaN,GWh
19656,Costa Rica,April 2023,Remarks,Data is estimated for this month,NaN,GWh
20476,Costa Rica,March 2023,Remarks,Data is estimated for this month,NaN,GWh
21295,Costa Rica,February 2023,Remarks,Data is estimated for this month,NaN,GWh
22114,Costa Rica,January 2023,Remarks,Data is estimated for this month,NaN,GWh

In [9]:
df_filtered = df[df['Balance'] != 'Remarks']
df_filtered.isna().sum()

Country    0
Time       0
Balance    0
Product    0
Value      0
Unit       0
dtype: int64

In [16]:
# Calculate z-scores for the 'Value' column
df['z_score'] = stats.zscore(df['Value'])

# Identify rows with z-scores greater than 3 or less than -3
outliers = df[abs(df['z_score']) > 3]
print("Outliers based on z-score:\n", outliers)

Outliers based on z-score:
 Empty DataFrame
Columns: [Country, Time, Balance, Product, Value, Unit, z_score]
Index: []

In [10]:
df_filtered_us = df_filtered[df_filtered['Country'] == 'United States']

In [12]:
df_filtered_time = df_filtered_us[df_filtered_us['Time'].str.contains('2020|2021|2022|2023|2024|2025')]

In [13]:
df_filtered_balance = df_filtered_time[df_filtered_time['Balance'] == 'Net Electricity Production']

In [ ]:
px.sunburst(df_filtered_balance, )

In [ ]:
copied_df = df.copy(deep=True)